@model IEnumerable<Author>


@{
    ViewData["Title"] = "Authors";
}


<h1>@ViewData["Title"]</h1>

<div class="row-cols-lg-auto">


    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Name) </th>
                <th> @Html.DisplayNameFor(model => model.BirthDate) </th>
                <th class="text-center"> @Html.DisplayNameFor(model => model.Description)</th>
                <th> @Html.DisplayNameFor(model => model.Category) </th>
                <th></th>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (Author obj in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => obj.Name)</td>
                    <td>@Html.DisplayFor(model => obj.BirthDate)</td>
                    <td class="text-center">@Html.DisplayFor(model => obj.Description)</td>
                    <td>@Html.DisplayFor(model => obj.Category.Name)</td>

                    <td>
                        <a asp-action="Edit" class="btn btn-sm bg-primary text-white" asp-route-id="@obj.AuthorId"> Edit </a>
                    </td>
                    <td>
                        <a asp-action="Details" class="btn btn-sm  bg-primary text-white" asp-route-id="@obj.AuthorId"> Details </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>