
@model LibraryCult.Models.Seller


@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div class="row">
    <dl class="dl-horizontal border-bottom">
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn bg-primary text-white" asp-route-id="@Model.SellerId">Edit</a>
</div>


