@model LibraryCult.Models.ViewModels.BookFormViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details: @Model.Book.Name</h1>
<hr />
<br />
<div class="row">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Category.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Release)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Release)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Author.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Book.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Book.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-xs bg-primary text-white" asp-route-id="@Model.Book.BookId"> Edit </a>
</div>



