@model IEnumerable<Book>


@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>
<hr />

<p>
    <a asp-action="Create" class="btn bg-success text-white btn-sm"> Add new Book </a>
</p>
<br />


<table class="table">
    <tdead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Release)</th>
            <th>@Html.DisplayNameFor(model => model.Language)</th>
            <th>@Html.DisplayNameFor(model => model.Amount)</th>
            <th>@Html.DisplayNameFor(model => model.Price)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </tdead>
    <tbody>
        @foreach (Book book in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => book.Name)</td>
                <td>@Html.DisplayFor(model => book.Release)</td>
                <td>@Html.DisplayFor(model => book.Language)</td>
                <td>@Html.DisplayFor(model => book.Amount)</td>
                <td>@Html.DisplayFor(model => book.Price)</td>
                <td>@Html.DisplayFor(model => book.Status)</td>
                <td>
                    <a asp-action="Edit" class="btn bg-primary text-white btn-sm" asp-route-id="@book.BookId"> Edit </a>
                    <a asp-action="Details" class="btn bg-primary text-white btn-sm" asp-route-id="@book.BookId"> Details </a>
                    <a asp-action="Delete" class="btn bg-primary text-white btn-sm" asp-route-id="@book.BookId">Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    @{ await Html.PartialAsync("_ValidationScriptsPartial");}
}





